[package]
name = "koval-common"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
tracing.workspace = true
serde.workspace = true
config.workspace = true
directories.workspace = true
thiserror.workspace = true